<h1>Proof of Concept FareFamily Layout</h1>

<body id="piedPiper">
  <mat-card>
      <h2>Placeholder</h2>
  </mat-card>
  <div class="offerings" >
    <ng-container *ngFor="let ffsOffer of ffshopOfferings.FareFamilyOffering">
      <mat-expansion-panel id="vision">
          <mat-expansion-panel-header >
            <div class="header">
              <span >
                <img src="../assets/images/tempAirline.png">
                <!-- {{ffsOffer.}} -->
              </span> &nbsp;
              {{ffsOffer.Departure}} ⟶ {{ffsOffer.Arrival}}
              <div>{{ffsOffer.ProductBrandPriceOption.length}} {{ffsOffer.ProductBrandPriceOption.length > 1 ? 'Options' : 'Option'}} </div>
              <!-- first/min price only -->
              <div class="minCost" >From: ${{ffsOffer.ProductBrandPriceOption[0].Price.TotalPrice}}</div>
            </div>                    
              
          </mat-expansion-panel-header>
            <!-- expansion panel body-->
            <div id="overgroup">
              <div id="leftAlignGroup">TEST</div>
              <div id="rightAlignGroup">
                <div class="tier" *ngFor="let prodOption of ffsOffer.ProductBrandPriceOption"><div class="price">Cost: ${{prodOption.Price.TotalPrice}}</div></div>
              </div>
            </div>
            </mat-expansion-panel>
    </ng-container>
  </div>
</body>
