#vision{
    border: black solid 1px;
    margin-bottom: 1%;
    width: auto;
    
}

#piedPiper{
    display: flex;
}

mat-card{
    height: 462px;
    width: 40%;
    border: rgb(7, 182, 167) solid 3px;  
}
.offerings{
    padding-left: 2%;
    width: 59%;
}
mat-expansion-panel mat-expansion-panel-header {
      height: auto!important; 
}

.header{
    display: flex;
    width:100%;
    justify-content: space-between;
}
.carrierInfo{
    display: flex;
    flex-direction: column;
}
.OandDInfo{
    display: flex;
    /* vertical centering */
    align-self: center;
}
.durationInfo{
    padding-left: 3%;
    padding-right: 3%;
    border-left: solid #4a4a4a 2px;
    border-right: solid #4a4a4a 2px;
    text-align: center;
    align-self: center;
    width: 15%; 
}
hr{
    margin:2px;
}
.minCost{
    padding-right: 3%;
    padding-left: 2%;
    display: flex;
    align-content: flex-end;
    align-self: center;
}
#overgroup{
    margin-top: 1%;
    display: flex;
    flex-wrap: nowrap;
}
#leftAlignGroup{
    width: 49%;
    display: flex;
    justify-content: flex-start; 
    border: solid orange 2px;

}
#rightAlignGroup{
    width:50%; 
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; 
}

.tier{
    border: solid black 2px;
    width: 45%;
    height: 100px;
    margin: 1%; 
}
.price{
    
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    #piedPiper{
        margin: auto;
        display: inline-block;
        width: 98%;
    }
    mat-card{
        margin: inherit;
        margin-bottom: 2%;
        display: inline-block;
        height: 462px;
        width: 100%;
        border: rgb(7, 182, 167) solid 3px;  
    }
    .offerings{
        margin: inherit;
        padding-left: 0%;
        width: 90%;
    }
    #overgroup{
        display: flex;
        flex-wrap: wrap;
    }
    #leftAlignGroup{
        width: 100%;
        border: solid orange 2px;
    
    }
    #rightAlignGroup{
        width: 100%; 
        justify-content: flex-start;
        flex-wrap: wrap; 
    }
}